# Python Pandas

- The *pandas* package is a important tool at the disposal of Data Scientists and Analysts working in Python today. 

- The powerful machine learning and glamorous visualization tools may get all the attention, but pandas is the backbone of most data projects.

## What's Pandas for?

- Explore a dataset stored in a CSV. 

- Calculate statistics and answer questions about the data, like
    - What's the average, median, max, or min of each column? 
    - Does column A correlate with column B?
    - What does the distribution of data in column C look like?

- Clear the data by doing things like removing missing values and filtering rows or columns by some criteria.

- Visualize data with help of Matplotlib.

- Save the cleaned DataFrame, transformed data back into a CSV, other file or database.

## How does pandas fit into the data science toolkit?

Pandas library is used in conjunction with other Python libraries. 

Pandas is built on top of the **NumPy** package.

Data in pandas is often used to feed statistical analysis in **SciPy**, plotting functions from **Matplotlib**, and machine learning algorithms in **Scikit-learn**.

**Jupyter Notebooks** offer a good environment for using pandas to do data exploration and modeling, but pandas can also be used in text editors just as easily.

## Install and import

In [ ]:
# install
# pip install pandas

In [ ]:
import pandas as pd

## Series and DataFrames

A `Series` is essentially a column.

A `DataFrame` is a multi-dimensional table made up of a collection of Series.

### Creating DataFrames

There are *many* ways to create a DataFrame, but a great option is use a simple `dict`. 

Supposed that we have a fruit stand that sells apples and oranges. 
We want to have a column for each fruit and a row for each customer purchase.

In [ ]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

purchases = pd.DataFrame(data) # pandas DataFrame constructor

In [ ]:
purchases

Creating our own **index** when we initialize the DataFrame.

In [ ]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

In [ ]:
purchases

We can **loc**ate a customer's order by using their name.

In [ ]:
purchases.loc['June']

### Save DataFrame in .csv format

In [ ]:
# save DataFrame in .csv format
purchases.to_csv('purchases.csv')

## Reading data

### Reading data from CSVs

In [ ]:
df = pd.read_csv('purchases.csv')

In [ ]:
df

CSVs don't have indexes like DataFrames.

Use `index_col` to define indexes.

In [ ]:
df = pd.read_csv('purchases.csv', index_col=0)

In [ ]:
df

## DataFrame operations

DataFrames possess hundreds of methods and other operations that are crucial to any analysis. 

Let's load in the IMDB movies dataset.

In [ ]:
# load the IMDB movies dataset
movies_df = pd.read_csv("../data/IMDB-Movie-Data.csv", index_col="Title")

In [ ]:
type(movies_df)

### Viewing your data

In [ ]:
# `.head()`: outputs the **first** five rows of your DataFrame by default
movies_df.head()

The `movies_df.head(10)` comand output the top ten rows.

In [ ]:
movies_df.head(2)

In [ ]:
# .head(): outputs the **last** five rows of your DataFrame by default
movies_df.tail(2)

To see the **last** five rows use `movies_df.tail()`.

In [ ]:
movies_df.tail()

In [ ]:
movies_df.tail(2)

### Getting info about your data

`.info()`: return informations about the DataFrame.

In [ ]:
movies_df.info()

`.shape`: outputs a tuple of (rows, columns):

In [ ]:
movies_df.shape

### Make DataFrame copy

`_append()`, `copy()`: return a copy without affecting the original DataFrame.

In [ ]:
#temp_df = movies_df._append()

#copie_movies_df = movies_df.copy()

temp_df = movies_df.copy()

In [ ]:
temp_df.shape

### Handling duplicates

`drop_duplicates()` method: return a copy of your DataFrame with duplicates removed.

In [ ]:
# dropping duplicates rows
temp1_df = temp_df.drop_duplicates()

In [ ]:
temp1_df.shape

`inplace=True` argument: modify the DataFrame object in place.

In [ ]:
temp_df.drop_duplicates(inplace=True)

In [ ]:
temp_df.shape

### Column cleanup

Many times datasets will have verbose column names with symbols, upper and lowercase words, spaces, and typos.

In [ ]:
# print the column names of our dataset
movies_df.columns

`.rename()` method: rename certain or all columns via a `dict`.

In [ ]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)

In [ ]:
movies_df.columns

If we want to lowercase all names, instead of using `.rename()` we could also set a list of names to the columns or renaming each column manually we can do a list comprehension.

In [ ]:
# renaming each column manually we can do a list comprehension
movies_df.columns = [col.lower() for col in movies_df]

In [ ]:
movies_df.columns

### Missing values

Most commonly missing values in DataFrames: `None` or `np.nan`.

There are two options in dealing with nulls: 

1. Get rid of rows or columns with nulls
2. Replace nulls with non-null values, a technique known as **imputation**

`isnull()` method: returns a DataFrame where each cell is either True or False depending on that cell's null status.

In [ ]:
# to check which cells in our DataFrame are null
movies_df.isnull()

`.isnull().sum()` method: return the number of nulls in each column.

In [ ]:
movies_df.isnull().sum()

#### Removing null values

`.dropna() method`: return a new DataFrame without altering the original one where it delete any **row** with at least a single null value.

In [ ]:
# remove 128 rows where `revenue_millions` is null and 64 rows where `metascore` is null.
drop1_movies_df = movies_df.dropna()
drop1_movies_df.shape

In [ ]:
movies_df.shape

The argument `axis=1` drop columns with null values.

In [ ]:
# remove the `revenue_millions` and `metascore` columns.
drop2_movies_df = movies_df.dropna(axis=1)
drop2_movies_df.shape

If you specify `inplace=True` in this methods as well it return a new DataFrame altering the original.

### Imputation

Imputation is a conventional feature engineering technique used to keep valuable data that have null values. 

We can impute that null with another value, usually the **mean** or the **median** of that column. 

Let's look at imputing the missing values in the `revenue_millions` column.

In [ ]:
# Extracting a column into its own variable
revenue = movies_df['revenue_millions']

In [ ]:
# a Series
revenue.head()

Impute the missing values of revenue using the mean.

In [ ]:
# calculating the mean
revenue_mean = revenue.mean()

In [ ]:
revenue_mean

Let's fill the nulls using `fillna()`:

In [ ]:
revenue.fillna(revenue_mean, inplace=True)

We have now replaced all nulls in `revenue` with the mean of the column. 

Using `inplace=True` we have actually affected the original `movies_df`.

In [ ]:
movies_df.isnull().sum()

### Understanding your variables

`describe()` method: return a summary of the distribution of continuous variables.

In [ ]:
movies_df.describe()

In [ ]:
# return the count of rows, 
# unique count of categories, 
# top category, and 
# freq of top category. 
movies_df['genre'].describe()

The genre column has 207 unique values, the top value is Action/Adventure/Sci-Fi, which shows up 50 times (freq).

`.value_counts()` method: return the frequency of all values in a column.

In [ ]:
movies_df['genre'].value_counts().head(10)

### DataFrame slicing, selecting, extracting

#### By column

To extract a column as a *Serie*, to pass a column names.

In [ ]:
# return a Series
genre_col = movies_df['genre']

In [ ]:
type(genre_col)

 
To extract a column as a *DataFrame*, to pass a list of column names.

In [ ]:
genre_col = movies_df[['genre']]

In [ ]:
type(genre_col)

Since it's just a list, adding another column name is easy:

In [ ]:
subset = movies_df[['genre', 'rating']]

In [ ]:
subset.head()

#### By rows

For rows, we have two options: 

- `.loc` - **loc**ates by name
- `.iloc`- **loc**ates by numerical **i**ndex

In [ ]:
# `.loc`: use the Title of a movie
prom = movies_df.loc["Prometheus"]

In [ ]:
prom

In [ ]:
# `iloc`: use the numerical index
prom = movies_df.iloc[1]

In [ ]:
prom

`loc` and `iloc` can be thought of as similar to Python `list` slicing.

In [ ]:
movie_subset = movies_df.loc['Prometheus':'Sing']
# movie_subset = movies_df.iloc[1:4]

In [ ]:
prom

#### Conditional selections

Supposed that we want to filter on DataFrame all the films directed by Ridley Scott.

To do that, we take a column from the DataFrame and apply a Boolean condition to it.

In [ ]:
condition = (movies_df['director'] == "Ridley Scott")

In [ ]:
condition.head()

In [ ]:
movies_df[movies_df['director'] == "Ridley Scott"].head()

Let's look at conditional selections using numerical values by filtering the DataFrame by ratings.

In [ ]:
movies_df[movies_df['rating'] >= 8.6].head(3)

We can make some conditionals by using logical operators `|` for "or" and `&` for "and".

Let's filter the the DataFrame to show only movies by Christopher Nolan OR Ridley Scott.

In [ ]:
movies_df[(movies_df['director'] == 'Christopher Nolan') | (movies_df['director'] == 'Ridley Scott')].head()

Using the `isin()` method we could make this more concise though.

In [ ]:
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

## Applying functions

It is possible to iterate over a DataFrame or Series as you would with a list, but doing so is very slow.

An efficient alternative is to `apply()` a function to the dataset. 

For example, we could use a function to convert movies with an 8.0 or greater to a string value of "good" and the rest to "bad" and use this transformed values to create a new column.

In [ ]:
# creating a function that, when given a rating, determines if it's good or bad
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

To send the entire rating column through this function.

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

In [ ]:
movies_df.head(2)

The `.apply()` method passes every value in the `rating` column through the `rating_function` and then returns a new Series. 
This Series is then assigned to a new column called `rating_category`.

## Plotting

Another great thing about pandas is that it integrates with Matplotlib, so you get the ability to plot directly off DataFrames and Series.

In [ ]:
import matplotlib.pyplot as plt

# set font and plot size to be larger
plt.rcParams.update({'font.size': 20, 'figure.figsize': (12, 8)})

Plot a Scatterplots based on two columns.

In [ ]:
movies_df.plot(
    kind='scatter', 
    x='rating', 
    y='revenue_millions', 
    title='Revenue (millions) vs Rating'
    );

Plot a Histogram based on a single column.

In [ ]:
movies_df['rating'].plot(kind='hist', title='Rating');

## Reference

https://pandas.pydata.org/docs/index.html

https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

https://pandas.pydata.org/docs/user_guide/10min.html

https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html